.dot {
  width: 3px;
  height: 3px;
  background: #ccc;
  border-radius: 5px;
  position: absolute;
}
.click {
  width: 10px;
  height: 10px;
  background: #ff0033;
  border-radius: 7.5px;
  position: absolute;
  z-index: 3;
}
.hide {
  display: none;
}
